:root
  --green: #28E289;
  --red: #E6332A;
  --black: #18181C;
  --white: #ffffff;
  --brown: #29292F;
  --grey: #8E8E9F;
  --light-grey: #27272D;
  --grey-second: #818188;
  --grey-third: #828282;
  --space-base: 0.0625rem; /* = 1px */
  --space-xxxs: calc(var(--space-base) * 2); /* 1 */
  --space-xxs: calc(var(--space-base) * 4); /* 2 */
  --space-xs: calc(var(--space-base) * 8); /* 3 */
  --space-s: calc(var(--space-base) * 12); /* 4 */
  --space-xxxm: calc(var(--space-base) * 16); /* 5 */
  --space-xxm: calc(var(--space-base) * 24); /* 6 */
  --space-xm: calc(var(--space-base) * 32); /* 7 */
  --space-m: calc(var(--space-base) * 48); /* 8 */
  --space-l: calc(var(--space-base) * 64); /* 9 */
  --space-xl: calc(var(--space-base) * 80); /* 10 */
  --space-xxl: calc(var(--space-base) * 160); /* 11 */
