.chart-container
  width: 788px
  .chart
    height: 475px
  .dummy-chart
    height: 475px
    background-color: var(--light-grey)
  #symbol-search-bar
    width: 100%
    margin-bottom: var(--space-xm)
