#token-info
  margin-bottom: var(--space-xxm)

#price
  margin-bottom: var(--space-xm)
  height: calc(36 * var(--space-base))

.token-info
  position: relative
  height: 220px
  h4
    margin-bottom: var(--space-s)
    font-weight: normal

.difference
  display: block
  min-height: calc(20 * var(--space-base))
